__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.swp
.env
.env.local
.env.*
.venv/
.envrc
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints
*.egg-info/
.eggs/
build/
dist/
celerybeat-schedule
celerybeat.pid
*.log
*.sqlite
**/vector_store.db
/uploads/
hopes/uploads/
pg_data/
**/.mypy_cache/
**/.ruff_cache/
**/.pytest_cache/
